.mvn/.gradle-enterprise/
.scannerwork/
.vscode
*.iml
out/
*.ipr
*.iws
*.gpg
classpath.txt
version.properties
!src/main/resources/version.properties
.project
.classpath
lib/*
build/*
.flattened-pom.xml
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
packages/
.pub
.packages
.vscode/
**/.vs
.factorypath
.metals/*

.settings

*.mustache~
*.java~
*.pm~
*.xml~
*.t~

/target
/generated-files
test-output/
nbactions.xml
test-output/

#Java/Android
**/.gradle

# Gradle build
**/build

# Python
*.pyc
__pycache__
samples/client/petstore/python/dev-requirements.txt.log
samples/client/petstore/python/swagger_client.egg-info/SOURCES.txt
samples/client/petstore/python/.coverage
samples/client/petstore/python/.projectile
samples/client/petstore/python/.venv/
