{{#with model}}
<a name="top"></a>
## {{packageName}}.components.schema.{{componentModule}}
# {{name.getCamelCaseName}}
{{> schema_doc complexTypePrefix="" }}
{{/with}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" schemasLink=true}}